/* styles.css */


.body {
   
 
    margin: 0;
    padding: 0;
  }
  

  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: rgb(31, 28, 28);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 100%;
    height: 52px;
    z-index: 1000;
  }
  
  .ulStyle {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .liStyle {
    font-size:larger;
    padding: 20px;
    font-family:"Times New Roman", Times, serif;
    align-items: left;
    margin-left: 1160px; /* Moves the 'Login' link to the left corner */
    
  }
  .liStyle a{
    margin-left: 80% !important;
    font-weight: bold !important;
  }
  
  .linkStyle {
    text-decoration: none;
    color: black;
    /* Add any other styles for the link */
  }
  
  .Styles {
    float: right;
    width: 65%;
    margin-left: 70%; 
    margin-top: -13%;
    border-radius: 100% 0% 89% 11% / 59% 100% 0% 41% ;
  
  }
  
  .e-hilada {
    padding: 30px;
    height: 80%;
    margin-top: 9%;
    margin-left: 1px;
    float: left;
    border-style: none;
  }
  .e-hilada h2{
    font-family:"Times New Roman", Times, serif;
    color: rgb(10, 10, 159);
    font-size: 50px;
    margin-top: -2%;
    
}

.e-hilada p{
    margin-left: 10%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    letter-spacing: 2.2px;
    word-spacing: 1.6px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
 
  
}
@media only screen and (max-width: 600px) {
    .liStyle{
        padding: 10px; 
        margin-left: 0; 
    }
    .Styles {
        border-radius: 50%; 
      }

      .ulStyle {
        flex-direction: column; 
      }
      .e-hilada h2 {
        font-size: 5vw; 
      }
      .e-hilada p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 9px;
        font-size: 2.5vw; 
      }
      .e-hilada {
        margin-top: 70%;
        margin-right: 3%;
      }

      .liStyle{
       
        font-size: medium;
      }
}